body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 20px;
}

.header {
    font-size: 36px;
    margin-bottom: 10px;
}

.footer {
    font-size: 18px;
    color: #ff4500; /* Prominent color for "Coded by Gunkar16" */
    margin-top: 10px;
}

.generator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.name-list, .randomize {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex: 1;
    margin: 0 10px; /* Add margin as needed */
}

#name-ol {
    list-style-type: decimal;
    padding-left: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


#random-name {
    font-size: 80px;
    font-weight: bold;
}




